* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  border: 1px solid #ccc;
  padding: 30px 15px;
  margin: 20px auto;
  max-width: 500px;
  text-align: center;
}

h1 {
  margin-bottom: 5px;
}

.mask-container {
  font-size: 20px;
  margin-bottom: 30px;
}

.letter-mask {
  display: inline-block;
  font-size: 34px;
  margin-right: 6px;
  margin-left: 6px;
}

.letters-container {
  /* border: 1px solid black; */
}

.letters-container button {
  height: 30px;
  margin: 2px;
  width: 30px;
}

.letters-container button:hover {
  cursor: pointer;
}
